.app {
  &__hero {
    @include flex;
    height: 40rem;
    color: #fff;
    background-image: var(--gradient);

    @media #{$min769} {
      height: 50rem;
    }
  }

  &__page {
    background-color: #f5f5f5;
    padding: 2rem 0;
    position: relative;
    z-index: 2;
  }

  &__observer {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__navicon {
    position: fixed;
    top: 0;
    right: 0;
    width: 6rem;
    height: 5.4rem;
    z-index: 6;
    color: #151515;

    @media #{$min769} {
      display: none;
    }
  }

  &.nav-open {
    .header {
      &__actions {
        height: calc(100vh - 6vh);
      }
    }

    .navicon {
      &__bar {
        &--1 {
          transform: rotate(-45deg);
        }

        &--2 {
          transform: translate3d(6rem, 0, 0);
        }

        &--3 {
          transform: rotate(45deg);
        }
      }
    }
  }

  &.header-narrow {
    @media #{$min769} {
      .nav {
        &__trigger {
          padding-top: 1.7rem;
          padding-bottom: 1.5rem;
        }

        &__item {
          &:after {
            top: 2.9rem;
          }
        }
      }
    }
  }
}
