.footer {
  &__content {
    background-color: #eaeaea;
  }

  &__blocks {
    padding: 4.2rem 0 1.8rem;

    @media #{$min769} {
      padding: 8.2rem 0 5.8rem;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1rem;
    }
  }

  &__block {
    padding: 0 6rem 0 0;
    border-right: solid 1px #d3d3d3;

    @media #{$min769} {
      margin: 0 1rem;
      width: calc(33.333% - 2rem);
    }
  }

  &__logo {
    margin: 0.6rem 0.2rem;
    position: relative;
    display: block;

    width: 14.1rem;
    height: 1.7rem;
    font-size: 0;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__slogan {
    padding: 1.1rem 0;
    color: #111111;
    font-weight: 600;
    line-height: 1.74;
  }

  &__list {
    position: relative;
    left: 0;
    padding: 2.2rem 0rem;
    font-size: 1.3rem;
  }

  &__list-item {
    display: block;
    position: relative;
    color: #333;

    &:before {
      content: '';
      background-color: currentColor;
      position: absolute;
      top: 1.6rem;
      left: 0.1rem;
      width: 0.2rem;
      height: 0.2rem;
      border-radius: 50%;
    }
  }

  &__list-link {
    padding: 0.7rem 0.7rem 0.6rem;
    display: inline-block;
    color: currentColor;
  }

  &__contacts {
    padding: 2.3rem 0;
  }

  &__copyright {
    position: relative;
    text-align: center;
    padding: 1.4rem;
    background-color: #151515;
    color: #a5a5a5;
    font-size: 1.2rem;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.4rem;
      border-radius: 0.4rem 0.4rem 0 0;
      background-image: var(--gradient);
    }
  }
}