.header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  pointer-events: all;

  &__container {
    padding: 2.2rem 2rem;

    @media #{$min769} {
      max-width: 120rem;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    position: relative;
    z-index: 2;
    width: 14.1rem;
    height: 1.7rem;
    display: block;
    font-size: 0;

    svg {
      path {
        fill: #111;
      }
    }

    @media #{$min1281} {
      margin-left: 2.2rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 6rem;
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    will-change: height;
    transition: height 800ms var(--e);
    background-color: #fff;

    @media #{$min769} {
      overflow: visible;
      position: relative;
      width: auto;
      top: auto;
      height: auto;
      transform: none;
    }
  }

  &__btn {
    min-width: 13rem;
    position: absolute;
    bottom: 12rem;
    left: 2rem;
    right: 2rem;
    z-index: 4;

    @media #{$min769} {
      width: 100%;
      margin-right: 2.5rem;
      top: -0.1rem;
      left: auto;
      right: auto;
      position: relative;
    }
  }

  &__nav {
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 18rem;
    width: 100vw;
    padding: 2rem 0;

    @media #{$min769} {
      padding: 0;
      bottom: auto;
      width: auto;
      height: auto;
      position: relative;
      overflow: visible;
    }
  }
}