.nav {
  &__items {
    @media #{$min769} {
      display: flex;
      margin-right: -0.5rem;
    }
  }

  &__trigger {
    display: block;
    padding: 1.7rem 2rem 1.9rem;
    font-size: 1.6rem;
    color: #555555;
    position: relative;
    background-color: #fff;
    z-index: 2;
    white-space: nowrap;
    transition: color 120ms var(--e), padding 160ms var(--e);
    will-change: padding;

    @media #{$min769} {
      padding: 2.7rem 2.5rem 2.9rem;
    }

    &--submenu {
      @media #{$min769} {
        padding-right: 4.2rem;
      }
    }

    &--active {
      background-color: #f0f0f0;
      color: #151515;
    }

    .no-touch &:hover,
    .no-touch &:focus {
      color: #151515;
    }
  }

  &__submenu {
    @media #{$min769} {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1;
      transition: transform 160ms var(--e), opacity 160ms var(--e);
      transform: translate3d(-50%, -2rem, 0);
      will-change: transform, opacity;
      width: 18rem;
      opacity: 0;
      pointer-events: none;
      padding-top: 1rem;
    }
  }

  &__sublist {
    width: 100%;
    position: relative;
    background-color: #f7f7f7;

    @media #{$min769} {
      border-radius: 0.4rem;
      background-color: #ffffff;
      box-shadow: 0 1rem 2.5rem -1rem rgba(85, 85, 85, 0.5), 0 0.1rem 0 rgba(223, 223, 223, 0.5);
      padding: 0.5rem 1rem 0.6rem;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 0.7rem);
        border-style: solid;
        border-width: 0 0.7rem 0.7rem 0.7rem;
        transition: transform 160ms var(--e);
        will-change: transform;
        border-color: transparent transparent #fff transparent;
      }
    }
  }

  &__item {
    position: relative;

    @media #{$min769} {
      transform: none;
      opacity: 1;
      transition: none;
    }

    &--submenu {
      &:after {
        @media #{$min769} {
          position: absolute;
          top: 3.9rem;
          right: 2.5rem;
          content: '';
          border-style: solid;
          border-width: 0.3rem 0.3rem 0 0.3rem;
          border-color: #151515 transparent transparent transparent;
          z-index: 3;
        }
      }
    }

    .no-touch &:hover,
    .no-touch &:focus {
      &:after {
        transform: rotateX(180deg);
      }

      .nav {
        &__submenu {
          transform: translate3d(-50%, 0, 0);
          pointer-events: all;
          opacity: 1;
        }

        &__sublist {
          &:before {
            transform: translate3d(0, -0.7rem, 0);
          }
        }
      }
    }
  }

  &__subitem {
    display: block;

    @media #{$min769} {
      border-bottom: 1px solid #efefef;

      &:last-child {
        border: none;
      }
    }
  }

  &__subtrigger {
    display: block;
    padding: 1rem 2rem 0.8rem;
    color: #555555;

    @media #{$min769} {
      display: inline-block;
      padding: 1rem 1rem 0.8rem;
    }

    .no-touch &:hover,
    .no-touch &:focus {
      color: #151515;
    }
  }
}
