.navicon {
  pointer-events: all;
  &__bar {
    display: block;
    width: 2.8rem;
    height: 0.2rem;
    position: absolute;
    top: 2.8rem;
    right: 1.6rem;
    will-change: transform;
    transition: transform 400ms var(--easeInQuad), background-color 100ms var(--easeInQuad) 500ms;
    background-color: var(--primaryColor);

    &--1 {
      transform: translate3d(0, -0.9rem, 0);
    }

    &--3 {
      transform: translate3d(0, 0.9rem, 0);
    }
  }
}