.page {
  &__services {
    padding: 2rem 0;

    @media #{$min769} {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1rem;
    }
  }

  &__service {
    @media #{$min769} {
      margin: 0 1rem;
      width: calc(33.33% - 2rem);
    }

    @media #{$min769} {
    }
  }

  &__post {
    position: relative;
    padding: 2rem 0;

    @media #{$min769} {
      margin: 0 -1rem;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}
