{% extends "./partials/_base.twig" %}

{% block page %}

  <div class="app__hero hero">
    <div class="app__container container">
      <h1>PixelArt Agency</h1>
      <div class="hero__slogan">We are creative design and development professionals</div>
      <div class="hero__actions">
        <a href="/" class="hero__action btn btn--white">Let's talk!</a>
        <a href="/" class="hero__action btn btn--ghost">About Us</a>
      </div>
    </div>
  </div>

  <main class="app__page app__page--home page">

    <div class="page__container container">

      <div class="page__services">

        <div class="page__service service">
          <div class="service__top">
            <h3>Branding identity</h3>
            <i class="service__split split"></i>
          </div>
          <div class="service__text">Repurpose professionally accurate initiatives without ubiquitous deliverables. Energistically engineer resource maximizing quality.</div>
        </div>

        <div class="page__service service">
          <div class="service__top">
            <h3>Web design</h3>
            <i class="service__split split"></i>
          </div>
          <div class="service__text">Progressively reintermediate market positioning partnerships whereas visionary content.</div>
        </div>

        <div class="page__service service service--dark">
          <div class="service__top service__top--dark">
            <h3>App development</h3>
            <i class="service__split split"></i>
          </div>
          <div class="service__text service__text--dark">Supply efficient integrated architectures with unique best practices. Assertively strategize pandemic sources.</div>
        </div>

      </div>

      <div class="page__content">
        <div class="page__post post">
          <article class="post__content">
            <div class="post__top">
              <div class="post__meta">12:50 13 Oct 2020</div>
              <h2>Simplicity is the ultimate sophistication</h2>
            </div>
            <div class="post__intro">Customize interactively distributed data whereas strategic value. Compellingly engineer world-class resources through optimal mindshare. Uniquely incubate client-centered deliverables through market-driven strategic theme.</div>
            <section class="post__section">
              <div class="post__block">
                <p>Seize value-added architectures for clicks-and-mortar e-services. Conveniently pontificate ethical partnerships for prospective schemas. Interactively generate client-centered "outside the box" thinking for innovative vortals. Efficiently engineer e-business leadership skills rather than bricks-and-clicks resources. Compellingly enhance quality e-tailers via extensive e-business.Compellingly innovate global paradigms whereas cross functional benefits. Assertively foster performance based imperatives without sustainable models. Enthusiastically reintermediate client-based human capital after excellent.</p>
              </div>
            </section>
            <section class="post__section">
              <div class="post__block">
                <p>Incubate fully tested expertise after interactive services. Objectively scale stand-alone partnerships vis-a-vis market positioning quality vectors. Dramatically fabricate extensive human capital without parallel infomediaries. Energistically promote error-free quality vectors whereas.</p>
              </div>
              <div class="post__block">
                <p>Extend team driven innovation through premier infrastructures. Completely formulate principle-centered functionalities through granular relationships. Competently restore client-centric functionalities via functional leadership.</p>
              </div>
            </section>
            <section class="post__quote quote">
              <blockquote class="quote__text">
                It is not enough that we build products that function, that are understandable and usable, we also need to build products that bring joy and excitement, pleasure and fun, and, yes, beauty to people’s lives.
              </blockquote>
              <div class="quote__author">Don Norman</div>
            </section>
            <section class="post__section">
              <div class="post__block">
                <p>Competently unleash enterprise materials before B2C innovation. Intrinsicly deploy viral models whereas client-centric resources. Objectively foster emerging channels through stand-alone content. Enthusiastically recaptiualize granular core competencies whereas progressive e-markets. Objectively re-engineer distinctive total linkage without cross-media process improvements. Uniquely formulate unique supply chains with end-to-end internal or "organic" sources. Intrinsicly synergize transparent.</p>
              </div>
            </section>
          </article>
          <aside class="post__sidebar">
            <div class="page__login login">
              <div class="login__top">
                <h4>Client zone</h4>
              </div>
              <form action="login" class="login__form">
                <div class="login__row">
                  <label class="login__field field">
                    <span class="field__label">Email</span>
                    <input type="email" name="email" required placeholder="your@email.here" class="field__input field__input--text"/>
                    <span class="field__error">Error</span>
                  </label>
                </div>
                <div class="login__row">
                  <label class="login__field field">
                    <span class="field__label">Password</span>
                    <input type="password" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}" required placeholder="********" class="field__input field__input--text"/>
                    <span class="field__error">Error</span>
                  </label>
                </div>
                <div class="login__row">
                  <label class="login__field field">
                    <input type="checkbox" name="remember" class="field__native"/>
                    <i class="field__control field__control--checkbox"></i>
                    <span class="field__inlabel">Remember me</span>
                  </label>
                </div>
                <div class="login__row">
                  <button class="login__submit btn">Login</button>
                </div>
                <div class="login__row login__row--register">
                  <a href="" class="login__register">Register</a>
                </div>
              </form>
            </div>
          </aside>
        </div>
        <div class="page__promo promo">
          <div class="promo__text">Tailored design for
            <i>Your business</i>
            to make it unique and attractive!</div>
          <a class="promo__btn btn btn--l">Get in touch!</a>
        </div>
      </div>

    </div>

  </main>

  <footer class="app__footer footer">
    <div class="footer__content">
      <div class="footer__container container">
        <div class="footer__blocks">
          <div class="footer__block footer__block--1">
            <a href="" class="footer__logo" aria-label="PixelArt">
              {% include "../svg/logo--color.svg.twig" %}
              PixelArt
            </a>
            <div class="footer__slogan">A user interface is like a joke. If you have to explain it, it’s not that good</div>
          </div>
          <div class="footer__block footer__block--2">
            <h5>Topics</h5>
            <ul class="footer__list">
              <li class="footer__list-item">
                <a href="" class="footer__list-link">First impressions in web design</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__list-link">Advanced SEO solutions</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__list-link">UX design 101</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__list-link">What’s the secret behind minimal designs</a>
              </li>
            </ul>
          </div>
          <div class="footer__block footer__block--3">
            <h5>Contacts</h5>
            <div class="footer__contacts contacts">
              <div class="contacts__item">
                <div class="contacts__label">Street:</div>
                <div class="contacts__value">4411  Bicetown Road</div>
              </div>
              <div class="contacts__item">
                <div class="contacts__label">City:</div>
                <div class="contacts__value">New York</div>
              </div>
              <div class="contacts__item">
                <div class="contacts__label">State:</div>
                <div class="contacts__value">NY</div>
              </div>
              <div class="contacts__item">
                <div class="contacts__label">Zip:</div>
                <div class="contacts__value">10022</div>
              </div>
              <div class="contacts__item">
                <div class="contacts__label">Phone:</div>
                <a href="tel:917-369-8748" class="contacts__value">917-369-8748</a>
              </div>
              <div class="contacts__item">
                <div class="contacts__label">Email:</div>
                <a href="mailto:hello@pixelart.com" class="contacts__value">hello@pixelart.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">Copyright © 2020</div>
  </footer>


{% endblock %}
