.contacts {
  font-size: 1.3rem;

  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0.1rem 0;
  }

  &__label {
    width: 21.6%;
    font-weight: 700;
    color: #111;
  }

  &__value {
    color: #333;
    width: 78.4%;
  }
}