.field {
  display: block;
  position: relative;
  padding: 0.4rem 0 0.5rem;

  &__label {
    display: block;
    font-weight: 700;
    color: #555;
    padding-bottom: 0.9rem;
  }

  &__input {
    border-radius: 0.4rem;
    border: 0.1rem solid #dfdfdf;
    background-color: #fafafa;
    padding: 0.9rem 1.4rem 0.8rem;
    font-style: italic;
    transition: border-color 220ms var(--e), background-color 999s linear 999s,
      color 999s linear 999s;
  }

  &__error {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1.4rem;
    font-size: 1.2rem;
    color: red;
    display: none;
  }

  &__control {
    border-radius: 0.2rem;
    border: 0.1rem solid #dfdfdf;
    background-color: #fafafa;
    display: block;
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 2rem;
    height: 2rem;

    &:before {
      content: '';
      background-color: #8657df;
      position: absolute;
      top: 0.4rem;
      left: 0.4rem;
      width: 1rem;
      height: 1rem;
      transition: transform 160ms var(--e);
      will-change: transform;
      transform: scale(0);
      border-radius: inherit;
    }

    &--checkbox {
      border-radius: 0.2rem;
    }
  }

  &__native {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__inlabel {
    color: #555;
    display: block;
    padding-left: 3.9rem;
  }

  &.has-error {
    .field {
      &__input {
        border-color: red;
      }

      &__error {
        display: block;
      }
    }
  }

  &.has-value {
    .field {
      &__control {
        &:before {
          transform: scale(1);
        }
      }
    }
  }

  &.is-focused {
    .field {

      &__input,
      &__control {
        border-color: #555;
      }
    }
  }
}