.hero {
  padding-top: 5.8rem;

  @media #{$min769} {
    padding-top: 11.8rem;
  }

  &__slogan {
    font-size: 1.8rem;
    padding: 0.8rem;
  }

  &__actions {
    padding: 0.8rem 0;

    @media #{$min769} {
      padding: 3.2rem 0;
    }
  }

  &__action {
    margin: 0.8rem;
  }
}
