.login {
  &__top {
    color: #111;
  }

  &__form {
    padding: 1.5rem 0;
  }

  &__row {
    padding: 0.5rem 0;

    &--register {
      padding: 1.4rem 0 0;
      text-align: center;
    }
  }

  &__submit {
    margin: 2.5rem 0 0;
  }

  &__register {
    display: inline-block;
    text-decoration: underline;
    color: var(--primaryColor);
    transition: color 160ms var(--e);

    .no-touch &:hover, .no-touch &:focus {
      color: var(--secondaryColor);
    }
  }
}
