.post {
  &__content {
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 0 #dfdfdf;
    border-radius: 0.4rem;
    padding: 1rem 2rem 0.7rem;

    @media #{$min769} {
      margin: 0 1rem;
      width: calc(66.6% - 2rem);
    }
  }

  &__top {
    padding: 0.9rem 0;

    color: #111;
  }

  &__meta {
    padding: 0 0 0.3rem 0;
    color: #555;
  }

  &__intro {
    font-size: 1.8rem;
    padding: 1.1rem 0;
    line-height: 1.46;
  }

  &__section {
    @media #{$min769} {
      display: flex;
      margin: 0 -1rem;
    }
  }

  &__block {
    color: #555;

    @media #{$min769} {
      padding: 0rem 0.9rem 0rem 1rem;
      flex: 1 0 50%;
    }
  }

  &__quote {
    margin: 1.3rem 0 0.7rem;
    padding: 2rem 2rem 1.9rem 6rem;

    @media #{$min769} {
      padding: 4rem 6% 3.9rem 11.4%;
    }
  }

  &__sidebar {
    box-shadow: 0.1rem 0.1rem 0 #dfdfdf;
    border-radius: 0.4rem;
    background-color: #ffffff;
    padding: 2.4rem 2rem 1rem;
    margin: 4rem 0 0;

    @media #{$min769} {
      position: sticky;
      top: 8rem;
      margin: 0 1rem;
      width: calc(33.3% - 2rem);
    }
  }
}
