.promo {
  box-shadow: 0.1rem 0.1rem 0 rgba(223, 223, 223, 0.5);
  border-radius: 0.4rem;
  background-color: #fff;
  position: relative;
  margin: 0 0 2rem;
  padding: 2rem;

  @media #{$min769} {
    align-content: center;
    display: flex;
    padding: 2.9rem 1.8% 2.1rem;
    justify-content: space-between;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
    border-radius: 0.4rem 0.4rem 0 0;
    background-image: var(--gradient);
  }

  &__text {
    color: #111111;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0.7rem 0;
  }

  &__btn {
    width: 100%;
    margin-top: 2rem;

    @media #{$min769} {
      flex-basis: 18rem;
      margin-top: 0;
      margin-left: 4rem;
    }
  }
}