.quote {
  background-color: #e6e6e6;
  position: relative;
  left: -4rem;
  color: #333333;
  border-radius: 0.4rem 0.4rem 0.4rem 0;
  width: calc(100% + 4rem);

  &:before {
    content: '';
    position: absolute;
    top: 2.4rem;
    left: 3.1%;
    width: 2.7rem;
    height: 2.2rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../img/quote.svg');
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    border-style: solid;
    left: 0;
    top: 100%;
    border-width: 0 2rem 1rem 0;
    border-color: transparent #c0c0c0 transparent transparent;
  }

  &__text {
    margin: 0;
  }

  &__author {
    padding: 1.2rem 0 0;
    left: -0.7rem;
    font-size: 1.6rem;
    font-style: italic;
    position: relative;

    &:before {
      content: '— ';
    }
  }
}