.service {
  border-radius: 0.4rem;
  padding: 2.3rem 2rem 2rem 0;

  &--dark {
    box-shadow: 0.1rem 0.1rem 0 #dfdfdf;
    background-color: #151515;
    padding: 2.3rem 2rem 2rem 2rem;
  }

  &__top {
    color: #111;
    text-transform: uppercase;

    &--dark {
      color: #fff;
    }
  }

  &__split {
    margin: 2.3rem 0 2rem;
  }

  &__text {
    line-height: 1.72;
    color: #333;

    &--dark {
      color: #fff;
    }
  }
}
