$min415: 'only screen and (min-width: 415px)'; // portrait
$min769: 'only screen and (min-width: 769px)'; // tablet
$min1024: 'only screen and (min-width: 1024px)'; // laptop
$min1281: 'only screen and (min-width: 1281px)'; // desktop

:root {
  --primaryColor: #6b28d7;
  --primaryActive: darken(var(--primaryColor), 10%);
  --primaryFont: 'Open Sans', Arial, sans-serif;
  --secondaryColor: #da00c5;
  --secondaryActive: darken(var(--secondaryColor), 10%);
  --gradient: linear-gradient(to right, #da00c5 0%, #450ab5 100%);
}
