html {
  background-color: #f5f5f5;
  color: #000;
  font-size: 10px;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: inherit;
  color: inherit;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;

  ::selection {
    background-color: var(--secondaryColor);
    color: #fff;
  }

  ::placeholder {
    opacity: 1;
    transition: all 160ms var(--e);
    color: #555;
  }
}

:focus::placeholder {
  opacity: 0.3;
}
