@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  src: url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  src: url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  src: url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  src: url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}