fieldset,
button,
input,
textarea,
select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  display: block;
  color: currentColor;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

svg:not(:root) {
  overflow: visible;
}

textarea {
  resize: none;
}

main,
article,
section,
header {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  box-shadow: none;
  color: currentColor;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  // &[href^='tel'] {
  //   color: currentColor;
  // }
}

table {
  max-width: 100%;

  a {
    text-decoration: underline;
  }
}

tr {
  vertical-align: top;
}

td {
  text-align: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
}
