h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.16;
  font-weight: 700;
  // color: #111;
}

h1 {
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  font-size: 3.2rem;

  @media #{$min769} {
    font-size: 6.4rem;
  }
}

h2 {
  font-size: 2.4rem;

  @media #{$min769} {
    font-size: 3.2rem;
  }
}

h3 {
  font-weight: 600;
  letter-spacing: .08em;
  font-size: 2rem;

  @media #{$min769} {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 2rem;

  @media #{$min769} {
    font-size: 2.4rem;
  }
}

h5 {
  letter-spacing: .11em;
  font-size: 1.6rem;
  text-transform: uppercase;
}

p {
  margin: 0.9em 0;

  img {
    max-width: 100%;
  }
}
