<header class="{{context}}__header header">
  <div class="header__container container">
    <a class="header__logo" href="/" aria-label="PixelArt">
      {% include "../../svg/logo.svg.twig" %}
      PixelArt
    </a>
    <div class="header__actions">
      <a href="/" class="header__btn btn">Get in touch</a>
      {% include "./nav.twig"  with {context: 'header'} %}
    </div>
  </div>
</header>
