<nav class="{{context}}__nav nav">
  <div class="nav__container">
    <ul class="nav__items">
      <li class="nav__item nav__item--active">
        <a href="/" class="nav__trigger nav__trigger--active">About us</a>
      </li>
      <li class="nav__item nav__item--submenu">
        <a href="/" class="nav__trigger nav__trigger--submenu">Portfolio</a>
        <div class="nav__submenu">
          <ul class="nav__sublist">
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Creative web design</a>
            </li>
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Mobile applications</a>
            </li>
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Print design</a>
            </li>
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Branding solutions</a>
            </li>
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Miscellaneous</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__trigger">Contact Us</a>
      </li>
      <li class="nav__item nav__item--submenu">
        <a href="/" class="nav__trigger nav__trigger--submenu">Gallery</a>
        <div class="nav__submenu">
          <ul class="nav__sublist">
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Creative web design</a>
            </li>
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Mobile applications</a>
            </li>
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Print design</a>
            </li>
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Branding solutions</a>
            </li>
            <li class="nav__subitem">
              <a href="/" class="nav__subtrigger">Miscellaneous</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
