.btn {
  border-radius: 0.4rem;
  border: solid 1px var(--primaryColor);
  background-color: var(--primaryColor);
  color: #fff;
  display: inline-block;
  min-width: 16rem;
  text-align: center;
  padding: 1rem 1rem 0.9rem;
  font-size: 1.3rem;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--secondaryColor) 40%, var(--primaryColor) 60%);
  background-size: 250% 100%;
  background-position: 100% 50%;
  transition: background-position 200ms var(--e), border-color 200ms var(--e),
    background-color 200ms var(--e), color 200ms var(--e);

  .no-touch &:hover,
  .no-touch &:focus {
    background-position: 0% 50%;
    border-color: var(--secondaryColor);
  }

  &--white {
    background-color: #fff;
    border-color: #fff;
    color: #333;
    background-image: none;

    .no-touch &:hover,
    .no-touch &:focus {
      border-color: #fff;
      color: var(--primaryColor);
    }
  }

  &--ghost {
    background-image: none;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.85);

    .no-touch &:hover,
    .no-touch &:focus {
      border-color: #fff;
      color: #fff;
    }
  }

  &--l {
    font-size: 1.6rem;
    padding: 1.2rem 1rem 1.2rem;
    border-radius: 0.6rem;
  }
}
