<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 140.5454 17.2031">
  <defs>
    <linearGradient id="a" y1="8.6016" x2="140.5454" y2="8.6016" gradientunits="userSpaceOnUse"><stop offset="0" stop-color="#da00c5"/><stop offset="1" stop-color="#450ab5"/></linearGradient>
  </defs>
  <path d="M11.8359,5.4141a5.2362,5.2362,0,0,1-1.7285,4.23,7.3923,7.3923,0,0,1-4.916,1.4649H3.6328v6.0937H0V.07H5.4727a7.2793,7.2793,0,0,1,4.74,1.3418A4.8925,4.8925,0,0,1,11.8359,5.4141ZM3.6328,8.1328H4.8281a3.9808,3.9808,0,0,0,2.5078-.6621A2.3173,2.3173,0,0,0,8.168,5.543a2.3764,2.3764,0,0,0-.6973-1.8868,3.2674,3.2674,0,0,0-2.1855-.6093H3.6328Zm16.2373,9.07V.07h3.6328V17.2031Zm26.5972,0H42.3188l-3.9843-6.48-3.9844,6.48H30.46l5.6836-8.8359L30.8228.07h4.0078L38.522,6.2344,42.1431.07h3.914L40.6782,8.5664Zm16.8232,0H53.4233V.07h9.8672V3.0469H57.0562V6.8086h5.8007V9.7852H57.0562v4.4179h6.2343Zm8.3745,0V.07h3.6324V14.2031h6.9492v3Zm29.3277,0L98.86,11.7539H91.9927l-2.1094,5.4492H87.8677L94.6411,0h1.6758l6.7383,17.2031ZM98.2388,9.9609,96.2466,4.6523Q95.86,3.6446,95.45,2.18a22.2092,22.2092,0,0,1-.7383,2.4726L92.6958,9.9609Zm13.9638.1172v7.125H110.21V.07H114.91a7.3948,7.3948,0,0,1,4.6582,1.207A4.3765,4.3765,0,0,1,121.0737,4.91a4.55,4.55,0,0,1-3.4453,4.5937l4.6524,7.6992h-2.3555l-4.1484-7.125Zm0-1.7109h2.73a4.7154,4.7154,0,0,0,3.0938-.8379,3.1181,3.1181,0,0,0,.9843-2.5137,2.8605,2.8605,0,0,0-1.0019-2.4492,5.4284,5.4284,0,0,0-3.2168-.75h-2.59Zm22.917,8.8359h-1.9922V1.84h-5.4257V.07h12.8437V1.84H135.12Z" fill="url(#a)"/></svg>
